<ul>
  {{#each todos}}
  <li>
  <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled>
  {{ this.name }}
  <a href="./todos/{{ this._id }}">Detail</a>
  <a href="./todos/{{ this._id }}/edit">Edit</a>
  <form action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
    <button type="submit">Delete</button>
  </form>
  </li>
  {{/each}}
</ul>